* {
    font-family:'Lucida Grande', Arial, sans-serif;
    letter-spacing: 1.3px;
    word-spacing: 3px;
    line-height: 30px;
}

:root {
    --grey: #333;
    --red: rgb(200, 75, 45);
    --blue: rgb(75, 45, 200);
}

body {
    font-size: 100%;
    padding-top: 30px;
    margin: 0px;
}

h1 {
    text-align: center;
    line-height: 50px;
    font-size: 40px;
}

h2 {
    text-align: center;
    line-height: 25px;
    font-size: 20px;
    color: deepskyblue;
}

p, main{
  padding: 10px;
  margin: 5px auto;
  text-align: justify;
  color: var(--grey);
}

img {
    border: solid medium var(--grey);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

a{
    color: var(--red);
}

a:hover {
    color: deepskyblue; 
}

a:active {
    color: black;
}

main, aside {
    max-width: 1000px;
    margin-top: 0px;
    margin-right: none;
    margin-left: 25%;
    margin-bottom: auto;
    width: 80%;
}

aside input {
    margin: 10px;
}

.button:hover {
    box-shadow: 2px 2px var(--red);
}

.button:active {
    box-shadow: 2px 2px dodgerblue;
}

header {
    background-color: deepskyblue;
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    z-index: 1000;
}

#header-right {
    text-align: right;
}

#header-left{
    text-align: left;
}

.bkmrk {
    display: grid;
    float: left;
    position: fixed;
    border-right: solid 1px var(--grey);
    border-bottom: solid 1px var(--grey);
    padding: 10px;
    height: 100%;
    width: 20%;
    overflow-y: auto;    
}

#bkmrk-header {
    font-size: larger;
    text-transform: uppercase;
    font-weight: bold;
}

.bkmrk a {
    text-align: left;
}

footer {
    background-color: deepskyblue;
    display: flex;
    position: relative;
    width: 100%;
    text-align: center;
    margin:0%;
}

.about-us {
    margin-top: 20px;
}

.about-us h2 {
    color: var(--red)
}

.about-us a {
    color: var(--blue);
}

.about-us header {
    background-color: var(--red);
}